# Node files
npm-debug.log
node_modules
package-lock.json

# Tests & Artifacts
test
tmp

# Repo control
Jakefile
tasks

# IDE files
.idea

# CI files
circle.yml
.istanbul.yml
.scrutinizer.yml

# Other
.gitignore
examples
